apiVersion: notification.kubesphere.io/v1alpha1
kind: NotificationManager
metadata:
  labels:
    app: notification-manager
  name: notification-manager
spec:
  replicas: {{ .Values.notificationmanager.replicas }}
  image: {{ .Values.notificationmanager.image.repo }}:{{ .Values.notificationmanager.image.tag }}
  imagePullPolicy: {{ .Values.notificationmanager.image.pullPolicy }}
  serviceAccountName: notification-manager-sa
  portName: webhook
  nodeSelector:
    {{- toYaml .Values.notificationmanager.nodeSelector | nindent 4 }}
  affinity:
    {{- toYaml .Values.notificationmanager.affinity | nindent 4 }}
  tolerations:
    {{- toYaml .Values.notificationmanager.tolerations | nindent 4 }}
  resources:
    {{- toYaml .Values.notificationmanager.resources | nindent 4 }}
  receivers:
    {{- toYaml .Values.notificationmanager.receivers | nindent 4 }}
  defaultConfigSelector:
    {{- toYaml .Values.notificationmanager.defaultConfigSelector | nindent 4 }}
  notificationManagerNamespaces:
    {{- toYaml .Values.notificationmanager.notificationManagerNamespaces | nindent 4 }}
