apiVersion: notification.kubesphere.io/v2beta2
kind: NotificationManager
metadata:
  name: notification-manager
spec:
  replicas: 1
  resources:
    limits:
      cpu: 500m
      memory: 1Gi
    requests:
      cpu: 100m
      memory: 20Mi
  image: kubesphere/notification-manager:v2.5.3
  imagePullPolicy: Always
  serviceAccountName: notification-manager-sa
  portName: webhook
  defaultConfigSelector:
    matchLabels:
      type: default
  receivers:
    tenantKey: user
    globalReceiverSelector:
      matchLabels:
        type: global
    tenantReceiverSelector:
      matchLabels:
        type: tenant
    options:
      email:
        notificationTimeout: 5
      slack:
        notificationTimeout: 5
      wechat:
        notificationTimeout: 5
      webhook:
        notificationTimeout: 5
      dingtalk:
        notificationTimeout: 5
  groupLabels:
    - alertname
    - namespace
  template:
    text:
      name: notification-manager-template
      namespace: kubesphere-monitoring-system
