namespaceOverride: ""

kubesphere:
  enabled: false
  # supported version: v3.1.0, v3.2.0
  version: v3.2.0

global:
  imageRegistry: ""
  nodeSelector: {}
  imagePullSecrets: []
imageRegistryOverride: ""
# value of notification-manager-operator
operator: 
  containers:
    proxy:
      image:
        repo: kubesphere/kube-rbac-proxy
        tag: v0.11.0
        pullPolicy: IfNotPresent
      resources:
        limits:
          cpu: 50m
          memory: 50Mi
        requests:
          cpu: 5m
          memory: 10Mi
    operator:
      image:
        repo: kubesphere/notification-manager-operator
        tag: v2.5.0-rc.1
        pullPolicy: IfNotPresent
      resources:
        limits:
          cpu: 50m
          memory: 50Mi
        requests:
          cpu: 5m
          memory: 20Mi
  nodeSelector: {}
  tolerations: []
  affinity: {}


# value of notification-manager
notificationmanager:
  sidecar:
    tenant:
      resources:
        limits:
          cpu: 200m
          memory: 256Mi
        requests:
          cpu: 200m
          memory: 256Mi
  image:
    repo: kubesphere/notification-manager
    tag: v2.5.0-rc.1
    pullPolicy: IfNotPresent
  sidecar:
    image:
      repo: kubesphere/notification-tenant-sidecar
  replicas: 1
  resources:
    limits:
      cpu: 500m
      memory: 500Mi
    requests:
      cpu: 5m
      memory: 20Mi
  nodeSelector: {}
  tolerations: []
  affinity: {}
  defaultConfigSelector:
    matchLabels:
      type: default
  receivers:
    tenantKey: user
    globalReceiverSelector:
      matchLabels:
        type: global
    tenantReceiverSelector:
      matchLabels:
        type: tenant
    options:
      dingtalk:
        notificationTimeout: 5
      email:
        notificationTimeout: 5
      slack:
        notificationTimeout: 5
      webhook:
        notificationTimeout: 5
      wechat:
        notificationTimeout: 5
  groupLabels:
    - alertname
    - namespace
  template:
    language: English
    languagePack:
      - name: zh-cn
        namespace: kubesphere-monitoring-system
    text:
      name: notification-manager-template
      namespace: kubesphere-monitoring-system
  env:
    - name: TZ
      value: Asia/Shanghai
