# Whether Notification manager is running at the kubesphere.
kubesphere: false

hook:
  postInstall:
    backoffLimit: 1

# value of notification-manager-operator
operator: 
  containers:
    proxy:
      image:
        repo: kubesphere/kube-rbac-proxy
        tag: v0.8.0
        pullPolicy: IfNotPresent
      resources:
        limits:
          cpu: 50m
          memory: 50Mi
        requests:
          cpu: 5m
          memory: 10Mi
    operator:
      image:
        repo: kubesphere/notification-manager-operator
        tag: v2.0.1
        pullPolicy: IfNotPresent
      resources:
        limits:
          cpu: 50m
          memory: 50Mi
        requests:
          cpu: 5m
          memory: 20Mi
  nodeSelector: {}
  tolerations: []
  affinity: {}


# value of notification-manager
notificationmanager:
  image:
    repo: kubesphere/notification-manager
    tag: v2.0.1
    pullPolicy: IfNotPresent
  replicas: 1
  resources:
    limits:
      cpu: 500m
      memory: 500Mi
    requests:
      cpu: 5m
      memory: 20Mi
  nodeSelector: {}
  tolerations: []
  affinity: {}
  defaultConfigSelector:
    matchLabels:
      type: default
  receivers:
    tenantKey: user
    globalReceiverSelector:
      matchLabels:
        type: global
    tenantReceiverSelector:
      matchLabels:
        type: tenant
    options:
      dingtalk:
        notificationTimeout: 5
      email:
        notificationTimeout: 5
      slack:
        notificationTimeout: 5
      webhook:
        notificationTimeout: 5
      wechat:
        notificationTimeout: 5
  groupLabels:
    - alertname
    - namespace
  template:
    text:
      name: notification-manager-template
