---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: silences.notification.kubesphere.io
spec:
  group: notification.kubesphere.io
  names:
    categories:
    - notification-manager
    kind: Silence
    listKind: SilenceList
    plural: silences
    singular: silence
  scope: Cluster
  versions:
  - name: v2beta2
    schema:
      openAPIV3Schema:
        description: Silence is the Schema for the Silence API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: SilenceSpec defines the desired state of Silence
            properties:
              duration:
                description: |-
                  The time range during which the silence is active.
                  If not set, the silence will be active ever.
                type: string
              enabled:
                description: whether the silence is enabled
                type: boolean
              matcher:
                properties:
                  matchExpressions:
                    description: matchExpressions is a list of label selector requirements.
                      The requirements are ANDed.
                    items:
                      properties:
                        key:
                          description: key is the label key that the selector applies
                            to.
                          type: string
                        operator:
                          description: |-
                            operator represents a key's relationship to a set of values.
                            Valid operators are In, NotIn, Exists and DoesNotExist.
                          type: string
                        regexValue:
                          type: string
                        values:
                          description: |-
                            values is an array of string values. If the operator is In or NotIn,
                            the values array must be non-empty. If the operator is Exists or DoesNotExist,
                            the values array must be empty. This array is replaced during a strategic
                            merge patch.
                          items:
                            type: string
                          type: array
                      required:
                      - key
                      - operator
                      type: object
                    type: array
                  matchLabels:
                    additionalProperties:
                      type: string
                    description: |-
                      matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels
                      map is equivalent to an element of matchExpressions, whose key field is "key", the
                      operator is "In", and the values array contains only "value". The requirements are ANDed.
                    type: object
                type: object
              schedule:
                description: |-
                  The schedule in Cron format.
                  If set the silence will be active periodicity, and the startsAt will be invalid.
                type: string
              startsAt:
                description: The start time during which the silence is active.
                format: date-time
                type: string
            required:
            - matcher
            type: object
          status:
            description: SilenceStatus defines the observed state of Silence
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
